*,::before, ::after {
  box-sizing: border-box;
}

@font-face{
    font-family: "Gilroy";
    src: url("fonts/gilroylight.woff") format("woff"),
         url("fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
}

@font-face{
    font-family: "Gilroy";
    src: url("fonts/gilroyextrabold.woff") format("woff"),
         url("fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 800;
}

@font-face{
    font-family: "OpenSans";
    src: url("fonts/opensans.woff") format("woff"),
         url("fonts/opensans.woff2") format("woff2");
    font-weight: 400;
}

@font-face{
    font-family: "OpenSans";
    src: url("fonts/opensanslight.woff") format("woff"),
         url("fonts/opensanslight.woff2") format("woff2");
    font-weight: 300;
}

body {
    font-family: "OpenSans";
    font-weight: 300;
	min-width: 1160px;
}

.container {
    width: 1160px; 
    margin: 0 auto;
}

.flex-box {
    display: flex;
}

.main-button {
    display: block;
    width: 260px;
    background: 
        linear-gradient(#fff 16px, #f0c52e 16px, #f0c52e 24px, #fff 24px);
    text-align: center;
    padding: 11px 0;
    padding-left: 7px;
    font-size: 18px;
    font-family: "Gilroy";
    font-weight: 800;    
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 3.7px;
}

.main-button:hover,
.services-list-item:hover{
    background: #f0c52e;
}

.main-button:active {
    color: rgba(0,0,0,0.3)
}



.main-header {
    position: relative;
    margin-bottom: 116px;
    padding: 0 60px;
}

.main-header::before {
    content: "";
    display: block;
    margin: 0 -60px;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 40px;
    z-index: -1;
    background-color: #f7e296;
}

.main-title {
    display: block;
    color: #000;
    padding: 16px 0;
    font-size: 48px;
    font-family: "Gilroy";
    font-weight: 800;    
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px;
    transition: 0.3s;
}



.element-box {
    display: flex;
    height: 36px;
    margin-bottom: 38px;
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    position: relative;
}

.search-form {
    width: 440px;
    padding-left: 40px;
    margin-right: 100px;
    position: relative;
    background: url("img/search.png") no-repeat top 11px left 6px;
}

.search-button {
    opacity: 0;
    width: 85px;
    padding-bottom: 5px;
    padding-top: 4px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #000;
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: -3px;
    top: -6px;
}

.search-button:hover {
    background-color: #000;
    color: #fff;
}


.search-button:active {
    background-color: #000;
    color: #434343;
}



.search-button::before {
    content: "";
    display: block;
    width: 440px;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: -2px;
    right: 0;
}

.search-input {
    width: 200px;
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: none;
    font-family: "OpenSans";
    font-weight: 300;
    transition: 0.3s;
}

.search-input:focus + .search-button {
    opacity: 1;   
    transition: 0.3s;
}


.search-input::placeholder {
    color: #000;
    opacity: 0.3;
}

.search-input:hover::placeholder {
    color: #000;
    opacity: 0.6;
}



.autorisation {
    width: 80px;
    margin-right: 208px;
    padding-left: 27px;
    position: relative;
    background: url('img/user.png') no-repeat left;
        
}

.compare {
    width: 100px;
    margin-right: auto;
    padding-left: 20px;
    position: relative;
    background: url('img/compare.png') no-repeat left;
}

.basket {
    padding-left: 22px;
    position: relative;
    background: url('img/basket.png') no-repeat left;
}

.autorisation, 
.compare,
.basket {
    cursor: pointer;
    transition-duration: 0.3s;
}

.main-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 55px;
    font-family: "Gilroy";
    font-weight: 800;    
}

.main-navigation-item {
    letter-spacing: 3.6px;
    position: relative;
}
    
.main-navigation-item:nth-child(n + 1){
    margin-right: 32px;
}

.main-navigation-item:nth-child(1) {
    width: 250px;
    background: url('img/plus.png') no-repeat right 3px top 2px;
    margin-right: auto;
}

.main-navigation-item:last-child {
    margin-left: 77px;
    margin-right: -5px;
}

.inner-product-list {
    display: none;
    width: 1160px;
    height: 168px;
    padding: 0 60px;
    padding-top: 8px;
    background-color: #f7e296;
    list-style: none;
    font-family: "OpenSans";
    font-weight: 300;
    letter-spacing: normal;
    font-size: 15px;
    line-height: 36px;
    position: absolute;
    top: 18px;
    left: -60px;
    z-index: 2;
}

.catalog-product:hover .inner-product-list {
    display: flex;
}

.inner-product-box {
    width: 200px;
}

.inner-product-box:first-child {
    margin-right: 40px;
}

.inner-product-item {
    display: block;
    color: #000;
    text-decoration: none;
}


.main-navigation-link {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    transition-duration: 0.3s;
}


.flex-container {
    display: flex;
}

.header-content {
    position: relative;
}

.header-content [type="radio"] {
    display: none;
}

.control-box {
    display: flex;
    position: absolute;
    right: 22px;
    top: 326px;
    z-index: 10;
    
}

.control-item {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 21px;
    border: 2px solid #1f1f1f;
    border-radius: 50%;
    position: relative;
}

.control-item:last-child {
    margin-right: 0;
}

.control-item::before {
    content: "";
    display: none;
    width: 6px;
    height: 6px;
    border: 2px solid #1f1f1f;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
}

#control1:checked ~ .control-box [for="control1"]::before,
#control2:checked ~ .control-box [for="control2"]::before,
#control3:checked ~ .control-box [for="control3"]::before {
    display: block;
}

.header-content-item {
    display: none;
}



/*test*/


.header-content #control1:checked ~ .content-item1,
.header-content #control2:checked ~ .content-item2,
.header-content #control3:checked ~ .content-item3 {
    display: flex;
}



.main-header-banner {
    width: 500px;
    margin-right: auto;
    position: relative;
}

.main-header-banner img {
    position: absolute;
}

.banner1 img {
    top: -1px;
    left: 31px;
}

.banner2 img {
    top: 11px;
    left: 57px;
    
}

.banner3 img {
    top: 64px;
    left: -28px;
    
}



.main-slogan {
    width: 500px;
}

.main-slogan-title {
    margin: 0;
    margin-right: -5px;
    padding-top: 80px;
    font-size: 47px;
    font-family: "Gilroy";
    font-weight: 800;    
    position: relative;
    letter-spacing: 0.7px;
}

.main-slogan-title::before {
    content: "";
    display: block;
    width: 100px;
    border-top: 7px solid #fff;
    position: absolute;
    top: 36px;
    left: 2px;
}

.slogan-title-number {
    padding-left: 5px;
    font-size: 180px;
    color: #fff;
    position: absolute;
    top: -28px;
    right: -7px;
    z-index: -1;
}

.main-slogan-text {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 43px;
    font-size: 15px;
    line-height: 30px;
    font-family: "OpenSans";
    font-weight: 300;
    letter-spacing: 0.2px;
    
    
}

.main-slogan-button {
    width: 220px;
    margin-bottom: 54px;
    padding-left: 7px;
    letter-spacing: 3.6px;
}

.characteristic-item {
    width: 160px;
}

.characteristic-item:nth-child(2) {
    width: 140px;
}

.characteristic-title {
    font-size: 36px;
    font-family: "Gilroy";   
    font-weight: 300;
    margin-bottom: 13px;
}

.characteristic-text {
    font-family: "OpenSans";
    font-weight: 300; 
    font-size: 13px;
    padding-left: 2px;   
}

.product {
    width: 1160px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.product-item {
    margin-right: 40px;
}

.product-item:nth-child(6n) {
    margin-right: 0;
}

.product-img {
    width: 160px;
    height: 160px;
    background-color: rgba(240,197,46, 0.5);
    
}

.product-img:hover {
    background-color: rgb(240,197,46);
    transition-duration: 0.3s;
}

.product-item:nth-child(1) .product-img {
    background-image: url('img/popular-1.png'); 
    background-repeat: no-repeat;
    background-position: center;    
}

.product-item:nth-child(2) .product-img {
    background-image: url('img/popular-2.png'); 
    background-repeat: no-repeat;
    background-position: center;    
}

.product-item:nth-child(3) .product-img {
    background-image: url('img/popular-3.png'); 
    background-repeat: no-repeat;
    background-position: center;    
}

.product-item:nth-child(4) .product-img {
    background-image: url('img/popular-4.png'); 
    background-repeat: no-repeat;
    background-position: center;    
}

.product-item:nth-child(5) .product-img {
    background-image: url('img/popular-5.png'); 
    background-repeat: no-repeat;
    background-position: center;    
}

.product-item:nth-child(6) .product-img {
    background-image: url('img/popular-6.png'); 
    background-repeat: no-repeat;
    background-position: center;    
}

.product-item:nth-child(1) .product-img:active {
    background-image: url('img/popular-1o.png');
}

.product-item:nth-child(2) .product-img:active {
    background-image: url('img/popular-2o.png');
}

.product-item:nth-child(3) .product-img:active {
    background-image: url('img/popular-3o.png');
}

.product-item:nth-child(4) .product-img:active {
    background-image: url('img/popular-4o.png');
}

.product-item:nth-child(5) .product-img:active {
    background-image: url('img/popular-5o.png');
}

.product-item:nth-child(6) .product-img:active {
    background-image: url('img/popular-6o.png');
}


.product-title {
    font-size: 18px;
    font-family: "Gilroy";
    font-weight: 800; 
    padding-top: 20px;
    padding-left: 2px;
}

.services-wrap {
    width: 100wv;
    height: 390px;
    background-image:  linear-gradient(to bottom,#fff 100px, #e5e5e5 100px, #e5e5e5 490px, #fff 490px);
}

.services {
    width: 1160px; 
    margin: 0 auto;
    display: flex;
    font-family: "Gilroy";
    font-weight: 800;         
    position: relative;
}

.services [type="radio"] {
    display: none;
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 116px;
    padding-top: 80px;
    padding-bottom: 47px;
    border-right: 7px solid #000;
    
}

.services-description-item {
    display: none;
    padding-top: 70px;
    padding-left: 2px;
    position: relative;
}

.services-list-item label {
    cursor: pointer;
}

/**/

#services1:checked ~ .services-description .description-item1,
#services2:checked ~ .services-description .description-item2,
#services3:checked ~ .services-description .description-item3 {
    display: block;
}

.description-item1::after {
    content: "";
    display: block;
    width: 136px;
    height: 164px;
    background: url(img/delivery.png) no-repeat;
    position: absolute;
    top: 85px;
    right: -232px;
}

.description-item2::after {
    content: "";
    display: block;
    width: 171px;
    height: 194px;
    background: url(img/warranty.png) no-repeat;
    position: absolute;
    top: 61px;
    right: -252px;
}

.description-item3::after {
    content: "";
    display: block;
    width: 156px;
    height: 186px;
    background: url(img/credit.png) no-repeat;
    position: absolute;
    top: 61px;
    right: -228px;
}



.services-list-item {
    display: block;
    width: 160px;
    line-height: 30px;
    font-size: 18px;
    padding: 5px 0;
    padding-left: 7px;
    margin-bottom: 24px;
    background: 
        linear-gradient(rgba(0,0,0,0) 16px, #f0c52e 16px, #f0c52e 24px, rgba(0,0,0,0) 24px);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    
}

#services1:checked ~ .services-list .services1,
#services2:checked ~ .services-list .services2,
#services3:checked ~ .services-list .services3 {
    width: 278px;
    padding-right: 118px;
    background: #000;
    color: #f0c52e;
 }

.services-description-title {
    width: 260px;
    margin: 0;
    margin-bottom: 28px;
    font-size: 47px;
    letter-spacing: 1px;
}

.services-description-text {
    width: 460px;
    margin: 0;
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.partners {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1160px; 
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 89px;
}

.partners-item{
    width: 260px;
    height: 100px;
    transition-duration: 0.3s;
}

.partners-item:nth-child(1) {
    background: url('img/logo-1.png') no-repeat;
}

.partners-item:nth-child(2) {
    background: url('img/logo-2.png') no-repeat;
}

.partners-item:nth-child(3) {
    background: url('img/logo-3.png') no-repeat;
}

.partners-item:nth-child(4) {
    background: url('img/logo-4.png') no-repeat;
}


.partners-item:hover:nth-child(1) {
    background: url('img/logo-1a.png') no-repeat;
}

.partners-item:hover:nth-child(2) {
    background: url('img/logo-2a.png') no-repeat;
}

.partners-item:hover:nth-child(3) {
    background: url('img/logo-3a.png') no-repeat;
}

.partners-item:hover:nth-child(4) {
    background: url('img/logo-4a.png') no-repeat;
}




.other-information {
    display: flex;
    flex-wrap: wrap;
    width: 1160px; 
    margin: 0 auto;
    padding-bottom: 82px;
    font-family: "Gilroy";
    font-weight: 800; 
}

.about_us {
    width: 600px;
    padding-right: 140px;
    
}

.contacts {
    width: 560px;
}

.other-information-title {
    font-size: 47px;
    margin: 0;
    padding-top: 53px;
    padding-bottom: 25px;
    position: relative;
    letter-spacing: 0.3px;
}

.other-information-title::before {
    content: "";
    display: block;
    width: 80px;
    border-top: 7px solid #000;
    position: absolute;
    top: 4px;
    left: 1px;
}

.other-information-text {
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 15px;
    letter-spacing: 0.2px;
}

.delivery {
    padding-top: 16px;
    padding-left: 27px;
    margin-bottom: 65px;
    list-style: none;
}

.delivery-item {
    margin-bottom: 22px;
    padding-left: 10px;
    position: relative;
    letter-spacing: 0.2px;
}

.delivery-item::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: url('img/slider-button.png');
    position: absolute;
    top: calc(50% - 4px);
    left: -24px;
} 

.contacts-maps {
    padding-top: 9px;
    padding-left: 1px;
    margin-bottom: 65px;
}

.main-footer {
    background-color: #464646;
    padding: 57px 0;
    color: #fff;
    position: relative;
}

.main-footer-item:first-child, 
.main-footer-item:last-child {
    width: 360px;
}

.main-footer-item:nth-child(2) {
    padding-top: 83px;
} 

.footer-title {
    font-size: 47px;
    margin: 0;
    margin-bottom: 26px;
    color: #ffc600;
    font-family: "Gilroy";
    font-weight: 800; 
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: auto;
    position: relative;
}

.main-footer::before {
    content: "";
    display: block;
    width: 80px;
    border-top: 7px solid #ffc600;
    position: absolute;
    bottom: 73px;
    left: 53px;
}

.adress {
    font-size: 15px;
}

.footer-element {
    display: flex;
    padding-top: 13px;
    padding-left: 37px;
    margin-bottom: 50px;
}

.footer-element div {
    font-size: 15px;
    position: relative;
}

.footer-autorisation {
    padding-left: 27px;
    margin-right: 44px;
}

.footer-compare {
   padding-left: 20px; 
    margin-right: 41px;
}

.footer-basket {
   padding-left: 24px; 
}


.footer-autorisation::before {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    background: url("img/user-footer.png") left center no-repeat;
    position: absolute;
    top: 1px;
    left: 0;
}

.footer-compare::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url("img/compare-footer.png") left center no-repeat;
    position: absolute;
    top: 4px;
    left: 0;
}

.footer-basket::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: url("img/basket-footer.png") left center no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
}

.footer-autorisation,
.footer-compare,
.footer-basket {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.footer-autorisation:hover,
.footer-compare:hover,
.footer-basket:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-autorisation:active,
.footer-compare:active,
.footer-basket:active {
    color: rgba(255, 255, 255, 0.3);
}



.footer-services {
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    margin-top: -2px;
}

.footer-services-item {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 3.9px;
    margin-right: -4px;
}

.social-box {
    width: 440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 66px;
    padding-left: 23px;
}

.social-box-item {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 19px;
    border-radius: 50%;
    background-color: #7e7e7e;
    opacity: 0.3;
    transition-duration: 0.3s;
    cursor: pointer;
}

.social-box-item:hover {
    opacity: 0.6;
}

.social-box-item:active {
    opacity: 0.1;
}



.logohtml{
    padding-top: 68px;
    margin-left: 334px;

}

.tel {
    display: block;
    font-size: 15px;
    text-align: right;
    text-decoration: none;
    color: #fff;
}





/*=animation=*/

.footer-autorisation:hover::before,
.footer-compare:hover::before,
.footer-basket:hover::before,
.logohtml img:hover,
.footer-services-item:hover,
.footer-title:hover,
.main-title:hover,
.autorisation:hover, 
.compare:hover,
.basket:hover,
.main-navigation-link:hover,
.inner-product-item:hover {
    opacity: 0.6;
}

.footer-autorisation:active::before,
.footer-compare:active::before,
.footer-basket:active::before,
.logohtml img:active,
.footer-services-item:active,
.footer-title:active,
.main-title:active,
.main-navigation-link:active,
.autorisation:active, 
.compare:active,
.basket:active
.inner-product-item:active {
    opacity: 0.3;
}




/*==================CATALOG CSS======================*/
.main-content-box {
	display: flex;
	min-width: 1160px;
	background-image: 
		linear-gradient(to right, #efefef 0%, #efefef calc(50% - 252px), #fff calc(50% - 252px), #fff 100%);
	position: relative;
}

.main-content-box::before {
	content: "";
	display: block;
	width: 100%;
	height: 70px;
	background-image: 
		linear-gradient(to right, #dcdcdc 0%, #dcdcdc calc(50% - 252px), #efefef calc(50% - 252px), #efefef 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}


.container-catalog{
    padding-left: 60px;
}

.catalog-header {
    margin-bottom: 86px;
}

.catalog-header::before {
    height: 186px;
}

.category {
    font-family: "Gilroy";
    font-size: 47px;
    letter-spacing: 0.6px;
}

.way {
    list-style: none;
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.way-item {
    margin-right: 40px;
    color: rgba(0,0,0,0.3)
}

.filter {
	width: 328px;
    padding-left: 60px;
	z-index: 1;
}

.main-filter-title {
    height: 70px;
    margin: 0;
    margin-bottom: 70px;
    padding: 27px 0;
    background-color: #dbdbdb;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.filter-title {
    margin-bottom: 30px;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    position: relative;
}

.filter-title::before {
    content: "";
    display: block;
    width: 200px;
    border-top: 2px solid #000;
    position: absolute;
    top: -16px;
    left: 0;
}

.filter-element {
    margin-bottom: 40px;
}

.worth-control {
    width: 200px;
    height: 2px;
    margin-bottom: 17px;
    background-color: #000;
    position: relative;
}

.worth-control::before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: #91c92f;
    position: absolute;
    top: 0;
    left: 0;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 0px 0px #dadada;
    position: absolute;
    left: -6px;
    top: -10px;
}

.circle::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -2px;
}

.circle-next {
    left: 120px;
}

.worth-value {
    display: inline-block;
    width: 60px;
    border: none;
    margin-right: 30px;
    background-color: rgba(0,0,0,0);
}

.color {
    display: block;
    margin-bottom: 10px;
    padding-left: 40px;
    background-image: url('img/checkbox-off.png');
    background-repeat: no-repeat;
    background-position: left;
    font-size: 14px;
    line-height: 40px;
}

.filter-element [type="checkbox"] {
    display: none;
}

.filter-element [type="checkbox"]:checked + label {
    background-image: url('img/checkbox-on.png');
}

[name="bluetooth"] {
	display: none;
}

.bluetooth {
    display: block;
    padding-left: 35px;
	position: relative;
	font-size: 14px;
	line-height: 40px;
}

.bluetooth::before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 5px solid #000;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 0;
}

.bluetooth::after {
	content: "";
	display: none;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #000;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 8px;
}

[name="bluetooth"]:checked + .bluetooth::after {
	display: block;
} 

.filter-button {
	background-image:  linear-gradient(#efefef 16px, #f0c52e 16px, #f0c52e 24px, #efefef 24px);
	border: none;
}

.catalog-main-container {
	width: 832px;
	padding-left: 72px;
	z-index: 1;
}

.sorting {
	display: flex;
	padding: 27px 0;
	margin-bottom: 70px;
}

.sorting-title {
	font-family: "Gilroy";
	font-weight: 800;
	text-transform: uppercase;
	font-size: 16px;
	margin-right: 53px;
}

.sorting-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	font-size: 14px;
	line-height: 18px;
}

.sorting-list-item {
	margin-right: 30px;
}

.product-content {
	display: flex;
	flex-wrap: wrap;
}

.product-content-item {
	width: 360px;
	margin-bottom: 70px;
}

.product-content-item:nth-child(2n+1) {
	margin-right: 40px;
}

.product-item-title {
	width: 260px;
	display: inline-block;
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 18px;
}

.price {
	width: 95px;
	display: inline-block;
	font-family: "Gilroy";
	font-weight: 300;
	font-size: 16px;
	text-align: right;
	
}